{{!-- {{#each this.reports}}
<div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{sentTime}}</h5>
                <p class="card-text">{{sender}}</p>
                <p class="card-text">{{board}}</p>
                <p class="card-text">{{method}}</p>
                <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>        
    </div>
{{/each}} --}}

{{#each this.reports}}
<div class="col-sm-4">
<div class="card" style="padding: 10px 10px;">
    <h5 class="card-title">{{this.sentTime}}</h5>
    <p class="card-text">{{this.sender.fullname}}</p>
    <p class="card-text">{{this.sender.email}}</p>
    <p class="card-text">{{this.sender.phone}}</p>
    <p class="card-text">{{this.method}}</p>
    <a href="viewDetail/{{this._id}}" class="btn btn-primary">Detail</a>
</div>
</div>
{{!-- <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{createdAt}}</h5>
                <p class="card-text">{{name}}</p>
                <p class="card-text">{{name}}</p>
                <p class="card-text">{{name}}</p>
                <p class="card-text">{{description}}</p>
                <p class="card-text">{{price}}</p>
                <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>        
</div> --}}
{{/each}}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {{#unless isFirstPage}}
    <li class="page-item"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
    {{/unless}}
    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
    {{#unless isLastPage}}
    <li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
    {{/unless}}
  </ul>
</nav>
