{{#section 'css'}}
  <link rel='stylesheet' href='../../static/css/list.css' />
{{/section}}

{{#section 'js'}}
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
{{/section}}

<div class='container'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='main-box clearfix'>
        <div class='table-responsive'>
          <table class='table user-list'>
            <thead>
              <tr>
                <th>
                  <span>
                    Board Location
                  </span>
                </th>
                <th>
                  <span>
                    Created
                  </span>
                </th>
                <th class='text-center'>
                  <span>
                    Status
                  </span>
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody class='reports-list'>
              {{#if boardsLocation}}
                {{#each boardsLocation}}
                  <tr>
                    <td>
                      <div class='row'>
                        <!-- Cột cho ảnh -->
                        <div class='col-md-2'>
                          <img src='{{this.imgBillboardLocation.[0]}}' alt='' class='img-fluid' />
                        </div>

                        <!-- Cột cho Advertisement Form và Địa chỉ -->
                        <div class='col-md-10'>
                          <a href='#' class='user-link'>
                            {{this.advertisementForm}}
                          </a>
                          <span class='user-subhead d-block mt-2'>
                            {{this.addr.street_number}}, {{this.addr.route}}, {{this.addr.ward}}, {{this.addr.district}},
                            {{this.addr.city}}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{#each this.locationCategory}}
                        {{this.locationCategory}},
                      {{/each}}
                    </td>
                    <td class='text-center'>
                      {{#compare this.isPlan '===' true}}
                        <span class='badge badge-pill badge-success'>
                          Đã quy hoạch
                        </span>
                      {{else}}
                        <span class='badge badge-pill badge-warning'>
                          Chưa quy hoạch
                        </span>
                      {{/compare}}
                    </td>
                    <td width='15%'>
                      <a href='#' class='table-link'>
                        <span class='fa-stack'>
                          <i class='fa fa-square fa-stack-2x'></i>
                          <i class='fa fa-search-plus fa-stack-1x fa-inverse'></i>
                        </span>
                      </a>
                      <a href='http://localhost:4000/boardsLocation/{{this._id}}' class='table-link'>
                        <span class='fa-stack'>
                          <i class='fa fa-square fa-stack-2x'></i>
                          <i class='fa fa-pencil fa-stack-1x fa-inverse'></i>
                        </span>
                      </a>
                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr>
                  <td colspan='5'>
                    <div class='alert alert-danger'>
                      No board location found
                    </div>
                  </td>
                </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
        <ul class='pagination pull-right'>
          <li>
            <a href='#'>
              <i class='fa fa-chevron-left'></i>
            </a>
          </li>
          <li>
            <a href='#'>
              1
            </a>
          </li>
          <li>
            <a href='#'>
              2
            </a>
          </li>
          <li>
            <a href='#'>
              3
            </a>
          </li>
          <li>
            <a href='#'>
              4
            </a>
          </li>
          <li>
            <a href='#'>
              5
            </a>
          </li>
          <li>
            <a href='#'>
              <i class='fa fa-chevron-right'></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>