{{#section 'css'}}
  <link rel='stylesheet' href='../../static/css/list.css' />
{{/section}}

{{#section 'js'}}
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
  <script href='../../static/js/boards/boardLocation.js'></script>
<script>
$(document).ready(function() {
    {{#each boardLocation}}
    // Bắt sự kiện click trên nút
    $(".boardLocationReq").click(function() {
      // Lấy thông tin từ các trường và nạp vào modal
      var advertisementForm = $("#advertisementForm_{{this._id}}").text();
      var address = $("#address_{{this._id}}").text();
      var locationCategory = $("#locationCategory_{{this._id}}").text();
      var isPlan = $("#isPlan_{{this._id}}").text();

      $("#editModal #advertisementForm").val(advertisementForm);
      $("#editModal #address").val(address);
      $("#editModal #locationCategory").val(locationCategory);
      $("#editModal #isPlan").val(isPlan);

      // Hiển thị modal
      $("#editModal").modal("show");
    });
    {{/each}}
  });
</script>
  
{{/section}}

<div class='container'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='main-box clearfix'>
        <div class='table-responsive'>
          <table class='table user-list'>
            <thead>
              <tr>
                <th>
                  <span>
                    Board Location
                  </span>
                </th>
                <th>
                  <span>
                    Created
                  </span>
                </th>
                <th class='text-center'>
                  <span>
                    Status
                  </span>
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody class='reports-list'>
              {{#if boardLocation}}
                {{#each boardLocation}}
                  <tr>
                    <td>
                      <div class='row'>
                        <!-- Cột cho ảnh -->
                        <div class='col-md-2'>
                          <img src='{{this.imgBillboardLocation.[0]}}' alt='' class='img-fluid' id='boardImage_{{this._id}}'>
                        </div>

                        <!-- Cột cho Advertisement Form và Địa chỉ -->
                        <div class='col-md-10'>
                          <a href='#' class='user-link' id='advertisementForm_{{this._id}}'>
                            {{this.advertisementForm}}
                          </a>
                          <span class='user-subhead d-block mt-2' id='address_{{this._id}}'>
                            {{this.addr.street_number}}, {{this.addr.route}}, {{this.addr.ward}}, {{this.addr.district}}, {{this.addr.city}}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{#each this.locationCategory}}
                        <span id='locationCategory_{{this._id}}'>{{this.locationCategory}}</span>,
                      {{/each}}
                    </td>
                    <td class='text-center'>
                      {{#compare this.isPlan '===' true}}
                        <span class='badge badge-pill badge-success' id='isPlan_{{this._id}}'>
                          Đã quy hoạch
                        </span>
                      {{else}}
                        <span class='badge badge-pill badge-warning' id='isPlan_{{this._id}}'>
                          Chưa quy hoạch
                        </span>
                      {{/compare}}
                    </td>
                    <td width='15%'>
                      <a href='http://localhost:4000/boardsLocation/{{this._id}}' class='table-link'>
                        <span class='fa-stack'>
                          <i class='fa fa-square fa-stack-2x'></i>
                          <i class='fa fa-search-plus fa-stack-1x fa-inverse'></i>
                        </span>
                      </a>
                      <a href='#' class='table-link boardLocationReq'>
                        <span class='fa-stack'>
                          <i class='fa fa-square fa-stack-2x'></i>
                          <i class='fa fa-pencil fa-stack-1x fa-inverse'></i>
                        </span>
                      </a>
                      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document"> <!-- Thêm class modal-lg để làm modal lớn hơn -->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!-- Form và các trường thông tin -->
                              <div class="modal-body">
                                <form>
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="address">Địa chỉ:</label>
                                      <input type="text" class="form-control" id="address" name="address" required>
                                      <small class="form-text text-muted">Ví dụ: 123 Đường ABC, Phường XYZ, Quận TUV, Thành phố ABC</small>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="isPlan">Is Plan:</label>
                                      <input type="checkbox" class="form-check-input" id="isPlan" name="isPlan">
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="advertisementForm">Advertisement Form:</label>
                                      <select class="form-control" id="advertisementForm" name="advertisementForm" required>
                                        <!-- Populate options for advertisement forms -->
                                        <option value="form_id_1">Form 1</option>
                                        <option value="form_id_2">Form 2</option>
                                        <!-- Add more options as needed -->
                                      </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="num_board">Number of Boards:</label>
                                      <input type="number" class="form-control" id="num_board" name="num_board" default="0">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="locationCategory">Location Category:</label>
                                    <select class="form-control" id="locationCategory" name="locationCategory[]" multiple>
                                      <!-- Populate options for location categories -->
                                      <option value="category_id_1">Category 1</option>
                                      <option value="category_id_2">Category 2</option>
                                      <!-- Add more options as needed -->
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="imgBillboardLocation">Image URLs:</label>
                                    <input type="text" class="form-control" id="imgBillboardLocation" name="imgBillboardLocation" required>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                              <button type="button" class="btn btn-primary">Lưu thay đổi</button>
                            </div>
                          </div>
                        </div>
                      </div>
                          <a href='#' class='table-link danger'>
                            <span class='fa-stack'>
                              <i class='fa fa-square fa-stack-2x'></i>
                              <i class='fa fa-trash-o fa-stack-1x fa-inverse'></i>
                            </span>
                          </a>


                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr>
                  <td colspan='5'>
                    <div class='alert alert-danger'>
                      No board location found
                    </div>
                  </td>
                </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
        <!-- Pagination.handlebars -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {{#if hasPreviousPage}}
              <li class="page-item">
                <a class="page-link" href="?page={{previousPage}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {{/if}}

            {{#paginate currentPage lastPage}}
              <li class="page-item {{#if (eq this.number currentPage)}}active{{/if}}">
                <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
              </li>
            {{/paginate}}


            {{#if hasNextPage}}
              <li class="page-item">
                <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>