{{#section 'css'}}
  <link rel='stylesheet' href='../../static/css/boardLocationDetail.css' />
{{/section}}
{{#section 'js'}}
  <script src='../../static/js/boards/boardLocationDetail.js'></script>
  <link
    rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css'
    integrity='sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA='
    crossorigin='anonymous'
  />
{{/section}}

<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-12 col-lg-10 col-xl-8 mx-auto'>
      <h2 class='h3 mb-4 page-title'>
        Settings
      </h2>
      <div class='my-4'>
        <!-- Nav tabs -->
        <ul class='nav nav-tabs' id='myTab' role='tablist'>
          <li class='nav-item'>
            <a
              class='nav-link active'
              id='profile-tab'
              data-toggle='tab'
              href='#profile'
              role='tab'
              aria-controls='profile'
              aria-selected='true'
            >
              Profile
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class='tab-content'>
          <div class='tab-pane active' id='profile' role='tabpanel' aria-labelledby='profile-tab'>
            <div class='container-fluid mt-2'>
              <!-- Thông tin bảng quảng cáo -->
              {{#if boards}}
                {{#each boards}}
                  <div class='card shadow mb-2 board-card' data-board-id="{{this._id}}" id="{{this._id}}">
                    <div class='card-header text-body-emphasis d-flex justify-content-between'>
                      <h4>
                        {{this.boardType}}
                      </h4>
                      <div class="d-flex">
                        <a class='badge badge-pill badge-primary square-button edit-button' href="/boardsLocation/{{this.boardLocation}}/board/{{this._id}}">
                          <i class="bi bi-gear"></i> Yêu cầu chỉnh sửa
                        </a>
                        <a class='badge badge-pill badge-success square-button ml-2' id="licenseButton">
                          <i class="bi bi-check-circle"></i> Yêu cầu cấp phép
                        </a>
                      </div>
                    </div>
                    <div class='card-body'>
                      <div class='row d-flex align-items-stretch'>
                        <div class='col-lg-5 col-md-5 col-sm-6'>
                          <div class='white-box text-center'>
                            {{#if this.imgBillboard}}
                              <img src='{{this.imgBillboard}}' class='img-fluid' alt='Board image' />
                            {{else}}
                              <img src='/static/img/adboard.png' class='img-fluid' alt='user' />
                            {{/if}}
                          </div>
                        </div>
                        <!-- Thông tin điểm đặt quảng cáo -->
                        <div class='col-lg-7 col-md-7 col-sm-6'>
                          <h4 class='box-title mt-5 boardType'>
                            {{this.boardType}}
                          </h4>
                          <p>
                            {{../boardLocation.addr.street_number}}, {{../boardLocation.addr.route}}, {{../boardLocation.addr.ward}},
                            {{../boardLocation.addr.district}}, {{../boardLocation.addr.city}}
                          </p>
                          <p>
                            Kích thước:
                            <strong>
                              <span class="boardSize">{{this.size}}</span>
                            </strong>
                          </p>
                          <p>
                            Hình thức:
                            <strong>
                              {{../boardLocation.advertisementForm}}
                            </strong>
                          </p>
                          <p>
                            Phân loại:
                            {{#each ../boardLocation.locationCategory}}
                              <span class='badge badge-pill badge-primary'>
                                {{this}}
                              </span>
                            {{/each}}
                          </p>
                          <p>
                            Số lượng:
                            <strong class="boardQuantity">
                              {{this.quantity}}
                            </strong>
                          </p>
                          <p>
                            Ngày hết hạn hợp đồng:
                            <strong>
                              {{this.expireDate}}
                            </strong>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                {{/each}}
              {{else}}
                <div class='alert alert-warning' role='alert'>
                  <strong>
                    Không tìm thấy bảng quảng cáo
                  </strong>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

